[submodule "core/moodle-docker"]
	path = core/moodle-docker
	url = https://github.com/moodlehq/moodle-docker.git
[submodule "core/moodle"]
	path = core/moodle
	url = https://github.com/moodle/moodle.git
[submodule "plugins/weaviate"]
	path = plugins/weaviate
	url = https://github.com/brianlmerritt/ltaiplugin-weaviate.git
[submodule "plugins/ollama"]
	path = plugins/ollama
	url = https://github.com/brianlmerritt/ltaiplugin-ollama.git
[submodule "plugins/solr"]
	path = plugins/solr
	url = https://github.com/brianlmerritt/ltaiplugin-vanilla-solr.git
[submodule "plugins/apache_tika"]
	path = plugins/apache_tika
	url = https://github.com/brianlmerritt/ltaiplugin-apache-tika.git
[submodule "plugins/python_ai_playground"]
	path = plugins/python_ai_playground
	url = https://github.com/brianlmerritt/ltaiplugin-python-playground.git
[submodule "plugins/php_ai_playground"]
	path = plugins/php_ai_playground
	url = https://github.com/brianlmerritt/ltaiplugin-php-playground.git
[submodule "plugins/solr_nginx_lua_proxy"]
	path = plugins/solr_nginx_lua_proxy
	url = https://github.com/brianlmerritt/solr-nginx-lua-subsystem.git
[submodule "plugins/embeddings_workers_subsystem"]
	path = plugins/embeddings_workers_subsystem
	url = https://github.com/brianlmerritt/embeddings-workers-subsystem.git
[submodule "plugins/rag_retrieval_subsystem"]
	path = plugins/rag_retrieval_subsystem
	url = https://github.com/brianlmerritt/rag-retrieval-subsystem.git
[submodule "plugins/elasticsearch"]
	path = plugins/elasticsearch
	url = https://github.com/brianlmerritt/ltaiplugin-elastic-search.git
